nb-chat {
  height: calc(100% - 1em)!important;
  margin-top: 1em;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  button {
    margin-left: 1em;
  }
  p {
    font-size: 1.4rem;
    font-weight: 700;
  }
}
